<div class="banana-div">
    <label class="title">Contraseña</label>
    <div spellcheck="false" class="input">
        <input type="text" [value]="password" (input)="updateValue($event)">
    </div>
    <div class="intructions">
        {{password | json}}
        <div>Escribe una contraseña minimo 8 carateres <span *ngIf="checkMin">✅</span></div>
        <div>Debe de contener un caracter en Mayuscula <span *ngIf="checkUppercase">✅</span></div>
        <div>Debe de contener un caracter en Minuscula <span *ngIf="checkLowercase">✅</span></div>
    </div>

    <!-- //Template Expression-->
</div>