<div class="title-page">
  <h2>¿Banana in a Box? ¿Banana en la Caja?</h2>
</div>
<div class="form-test">
  <div class="form-user">

    <!-- **** Form Name ****-->

    <div class="field-group">
      <label>Nombre</label>
      <input [(ngModel)]="name" spellcheck="false" type="text">
    </div>

    <!-- **** Form LastName ****-->

    <div class="field-group">
      <label>Apellido</label>
      <input [(ngModel)]="lastname" spellcheck="false" type="text">
    </div>

    <!-- ***** Form Password - Banana in a BOX (TWO-WAY BIN) *****-->

    <app-password [(password)]="password"></app-password>


    <hr class="hr">
    <div class="field-group">
      <b>Datos:</b>
      <div>Nombre: {{name | json}}</div>
      <div>Apellido: {{lastname | json}}</div>
      <div>Contraseña: {{password | json}}</div>
    </div>
  </div>
</div>
<div class="img-footer">
  <img src="https://i.imgur.com/mWk2Z4c.png" alt="">
</div>